<!-- template para listar as informações do produto -->
<table class="table table-bordered">
    <tr>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    <g:each var ="cliente" in="${clientes}">
        <tr>
            <td>${cliente.nome}</td>
            <td>${cliente.email}</td>
        </tr>
    </g:each>
</table>
